Repository TrySummon/summon-app: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

typecheck:
  run: npm run typecheck

fix: debug updater
  forge.config.ts
Due: format, lint, typecheck

fix: debug updater
  forge.config.ts
  package.json
Due: format, lint, typecheck

fix: debug updater
  package.json
Due: format

fix: debug updater
  .github/workflows/release.yml
  forge.config.ts
Due: format, lint, typecheck

fix: move to update-electron-app
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/ipc/update/update-channels.ts
  src/ipc/update/update-context.ts
  src/ipc/update/update-listeners.ts
  src/lib/auto-updater.ts
  src/main.ts
Due: format, lint, typecheck

fix: border b
  src/components/mcp-builder/endpoint-picker/index.tsx
Due: format, lint, typecheck

feat: sentry for crash reporting
  .env.example
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/App.tsx
  src/components/SentryErrorBoundary.tsx
  src/lib/sentry-renderer.ts
  src/lib/sentry-utils.ts
  src/lib/sentry.ts
  src/main.ts
  vite.renderer.config.mts
Due: format, lint, typecheck

feat: icons
  CONTRIBUTING.md
  LICENSE
  README.md
  app-update.yml
  forge.config.ts
  images/icon.icns
  images/icon.ico
  images/icon.png
  images/icon@2x.ico
  index.html
  package-lock.json
  package.json
  src/components/AppSidebar.tsx
  src/components/DragWindowRegion.tsx
  src/components/IconLogo.tsx
  src/components/Logo.tsx
  src/lib/external-mcp/index.ts
  src/lib/mcp/index.ts
  src/lib/posthog.ts
  src/pages/HomePage.tsx
  src/tests/e2e/home.test.ts
Due: format, lint, typecheck

fix: ci
  src/main.ts
Due: format, lint, typecheck

chore: wip readme
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  .github/workflows/issue-labeler.yml
  README.md
  app-update.yml
  forge.config.ts
  images/logo-dark.svg
  images/logo-light.svg
  package-lock.json
  package.json
  src/components/DragWindowRegion.tsx
  src/pages/HomePage.tsx
Due: format, lint, typecheck

chore: wip readme
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/workflows/issue-labeler.yml
  README.md
Due: none

chore: wip readme
  README.md
  images/logo-dark.svg
  images/logo-light.svg
Due: none

chore: wip readme
  README.md
Due: none

chore: attribution comment
  src/lib/mcp/generator/index.ts
Due: format, lint, typecheck

feat: add waitlist
  src/components/mcp-explorer/ServerStatusSection.tsx
  src/components/playground/ToolSidebar/McpSection.tsx
  src/components/playground/ToolSidebar/WaitlistButton.tsx
  src/pages/HomePage.tsx
Due: format, lint, typecheck

fix: formatting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  .github/workflows/issue-labeler.yml
Due: none

fix: iconUrl for MakerSquirrel
  forge.config.ts
Due: format, lint, typecheck

fix: remove build badge
  README.md
Due: none

fix: remove AppImage
  README.md
Due: none

feat: add tooltip
  src/components/DragWindowRegion.tsx
  src/pages/HomePage.tsx
Due: format, lint, typecheck

feat: improve tool edit ux
  src/components/mcp-explorer/ServerStatusSection.tsx
  src/components/playground/ToolSidebar/ToolEdit/ToolSchemaDiff.tsx
  src/components/playground/ToolSidebar/ToolEdit/ToolSchemaEditor.tsx
  src/components/playground/ToolSidebar/ToolEdit/index.tsx
  src/components/playground/ToolSidebar/ToolItem.tsx
  src/styles/global.css
Due: format, lint, typecheck

feat: add feedback button
  src/components/AppSidebar.tsx
  src/components/FeedbackButton.tsx
  src/components/playground/Tab/Header.tsx
  src/components/playground/ToolSidebar/McpSection.tsx
Due: format, lint, typecheck

fix: duplicate a tab should also duplicate tool modifs
  src/components/playground/store.ts
Due: format, lint, typecheck

Update README.md
  README.md
Due: none

feat: improve dmg installer
  forge.config.ts
  images/dmg-background.png
  src/main.ts
Due: format, lint, typecheck

update readme
  README.md
Due: none

fix: add zip maker for update checker
  forge.config.ts
  src/pages/HomePage.tsx
Due: format, lint, typecheck

wip
  TICKET_001.md
  TICKET_002.md
  TICKET_003.md
  TICKET_004.md
  TICKET_005.md
  TICKET_006.md
  TICKET_007.md
  TICKET_008.md
  TICKET_009.md
  TICKET_SUMMARY.md
  src/components/AppSidebar.tsx
  src/components/dataset-nav/DatasetDetailsDialog.tsx
  src/components/dataset-nav/DatasetItem.tsx
  src/components/dataset-nav/DatasetNav.tsx
  src/components/dataset-nav/index.ts
  src/components/playground/Message/index.tsx
  src/components/playground/SaveDatasetDialog.tsx
  src/hooks/useLocalDatasets.ts
  src/stores/datasetStore.ts
  src/tests/unit/SaveDatasetDialog.integration.test.tsx
  src/tests/unit/SaveDatasetDialog.test.tsx
  src/tests/unit/basicDatasetStore.test.ts
  src/tests/unit/setup.ts
  src/tests/unit/useLocalDatasets.test.ts
  src/types/dataset.ts
  src/utils/formatDate.ts
Due: format, lint, typecheck

fix picker
  src/components/playground/DatasetSelector.tsx
  src/components/playground/Message/index.tsx
  src/components/playground/Tab/Header.tsx
  src/components/playground/store.ts
  src/components/playground/tabState.ts
Due: format, lint, typecheck

fix add to dataset
  src/components/dataset-nav/CreateDatasetDialog.tsx
  src/components/dataset-nav/DatasetDetailsDialog.tsx
  src/components/dataset-nav/DatasetItem.tsx
  src/components/dataset-nav/DatasetNav.tsx
  src/components/dataset-nav/index.ts
  src/components/playground/DatasetSelector.tsx
  src/components/playground/Message/index.tsx
  src/hooks/useLocalDatasets.ts
  src/stores/datasetStore.ts
  src/types/dataset.ts
Due: format, lint, typecheck

remove tickets
  .gitignore
  TICKET_001.md
  TICKET_002.md
  TICKET_003.md
  TICKET_004.md
  TICKET_005.md
  TICKET_006.md
  TICKET_007.md
  TICKET_008.md
  TICKET_009.md
  TICKET_SUMMARY.md
Due: none

fix test
  src/tests/unit/SaveDatasetDialog.integration.test.tsx
  src/tests/unit/SaveDatasetDialog.test.tsx
  src/tests/unit/basicDatasetStore.test.ts
  src/tests/unit/useLocalDatasets.test.ts
Due: format, lint, typecheck

fix test
  src/tests/unit/SaveDatasetDialog.test.tsx
  src/tests/unit/basicDatasetStore.test.ts
  src/tests/unit/useLocalDatasets.test.ts
Due: format, lint, typecheck

fix tests
  src/components/playground/SaveDatasetDialog.tsx
  src/tests/unit/SaveDatasetDialog.integration.test.tsx
  src/tests/unit/SaveDatasetDialog.test.tsx
  src/tests/unit/basicDatasetStore.test.ts
  src/tests/unit/useLocalDatasets.test.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
